[submodule "blog"]
	path = blog
	url = https://github.com/iepathos/marlowe_blog.git
[submodule "objectivity"]
	path = objectivity
	url = https://github.com/iepathos/marlowe_objectivity.git
[submodule "chrome"]
	path = chrome
	url = https://github.com/iepathos/marlowe_chrome.git
[submodule "usent"]
	path = usent
	url = https://github.com/iepathos/marlowe_usent.git
[submodule "firefox"]
	path = firefox
	url = https://github.com/iepathos/marlowe_firefox.git
[submodule "dataset"]
	path = dataset
	url = https://github.com/iepathos/marlowe_dataset
